{% extends "MyAppUserBundle::layout4.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block contenu %}
<head>

    <link href="{{ asset('MyApp/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('MyApp/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('MyApp/css/style3.css') }}" rel="stylesheet">


</head>

<h3> Welcome Mr {{ app.user.username }} </h3>


<div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
        <thead>
        <tr><th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Country</th>
            <th>City</th>
        </tr></thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Dakota Rice</td>
            <td>$36,738</td>
            <td>Niger</td>
            <td>Oud-Turnhout</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Minerva Hooper</td>
            <td>$23,789</td>
            <td>Curaçao</td>
            <td>Sinaai-Waas</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Sage Rodriguez</td>
            <td>$56,142</td>
            <td>Netherlands</td>
            <td>Baileux</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Philip Chaney</td>
            <td>$38,735</td>
            <td>Korea, South</td>
            <td>Overland Park</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Doris Greene</td>
            <td>$63,542</td>
            <td>Malawi</td>
            <td>Feldkirchen in Kärnten</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Mason Porter</td>
            <td>$78,615</td>
            <td>Chile</td>
            <td>Gloucester</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock contenu %}